<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>  
  <listener class-name="org.uncommons.reportng.HTMLReporter"/>   
 <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>  

</listeners>  

  <test thread-count="5" name="Test">
    <classes>
      <class name="org.pmr.project.ControlCalendar"/>
      <class name="Demo.FirstClass"/>
      <class name="org.pmr.project.HandlingKeyboardMouse"/>
      <class name="org.pmr.project.BrowserControl"/>
      <class name="org.pmr.project.FetchData"/>
      <class name="org.pmr.project.CaptureScreenshot"/>
      <class name="Demo.AutomationClass"/>
      <class name="org.pmr.project.CalendarControl"/>
      <class name="org.pmr.project.WebElementsDemo"/>
      <class name="org.pmr.project.FetchWaits"/>
      <class name="org.pmr.project.OneAutomation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
